<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Sale Management System</title>

  </head>

<body>

<header th:insert="general.html :: header"> </header>
<a href="/sales" >Sales list</a>

<div >

    <table >
        <caption>
            <h1>
               Users list
            </h1>
        </caption>

        <thead>
        <tr>
            <th>Name</th>
            <th>Birthday</th>
            <th>Email</th>
            <th>Roles </th>
            <th>Active </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.birthday}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.roles}"></td>
            <td th:text="${user.active}"></td>

            <td> <a th:href="@{/users/{id}/update(id=${user.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/users/{id}/delete(id=${user.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>

        </tbody>

    </table>

    <a href = "/users/new">
        <button type="button">Add</button>
    </a><br>

</div>
</body>

</html>